.profile-container {
    margin: 0 auto;
    margin-bottom: 12vh;
    max-width: 600px;
    background-color: #2c3e50;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
}
.studentprofile{
    background-image: url('../assets/bg.jpg');
    padding-top: 12vh;
}

.profile-container h2 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-size: 28px;
}

.profile-card {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.profile-card p {
    font-size: 18px;
    color: #34495e;
    margin: 10px 0;
}

.profile-card p strong {
    color: #2c3e50;
}

.profile-card p + p {
    border-top: 1px solid #ecf0f1;
    padding-top: 10px;
}

@media (max-width: 768px) {
    .profile-container {
        margin: 20px;
        padding: 20px;
    }
}
.edit-button {
    width: 30%;
    padding: 14px;
    background-color: #e67e22; /* Bright orange button */
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image fits within the circle */
    margin-bottom: 20px; /* Adds space between the image and the profile details */
    border: 2px solid #007bff; /* Optional: Add a border for styling */
}


.edit-button:hover {
    background-color: #d35400; /* Darker orange on hover */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}
.change-password-button {
    width: 40%;
    padding: 14px;
    background-color: #e67e22; /* Bright orange button */
    color: white;
    margin-left: 10vh;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.change-password-button:hover {
    background-color: #d35400; /* Darker orange on hover */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}
